<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active w-100 h-100 px-0">
      <img class="img-fluid w-100 h-100"
           src="https://d4kkpd69xt9l7.cloudfront.net/sys-master/images/h6a/hec/9175164485662/razer-blade-pro-17-2019-hero-mobile.jpg"
           alt="no internet">
    </div>
    <div class="carousel-item px-0 w-100 h-100 px-0">
      <img class="img-fluid h-100 w-100"
           src="http://cdn-uploads.gameblog.fr/images/actu/full/78151_gb_news.jpg?ver=1538036979" alt="no internet">
    </div>
    <div class="carousel-item px-0 w-100 h-100 px-0">
      <img class="img-fluid h-100 w-100 "
           src="https://o.aolcdn.com/images/dims?quality=85&image_uri=https%3A%2F%2Fo.aolcdn.com%2Fimages%2Fdims%3Fresize%3D2000%252C2000%252Cshrink%26image_uri%3Dhttps%253A%252F%252Fs.yimg.com%252Fos%252Fcreatr-uploaded-images%252F2019-01%252Fe0cb5120-1a69-11e9-b7fa-019fe5acc8fc%26client%3Da1acac3e1b3290917d92%26signature%3D34cc0589c8f112b57cecca5643fb66970ed5c02f&client=amp-blogside-v2&signature=1699702f6da298e4e41909a927b1789cd302d49c"
           alt="no internet">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
